* {

    box-sizing: border-box;
}



 img {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 8px  8px 0px 0px;
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
    width: 300px;
    border-radius: 5px;
      box-shadow: -4px 7px 5px 1px rgba(176,164,176,1);
      
      
} 
.container{
    display: flex;
   
    flex-direction:row;
    padding: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    width:auto;
}
.cards{
    display: flex;
    
    padding: 10px;
}
.overlay{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    
    height: 25px;
    overflow: hidden;
    transition: .3s ease;
    
}
.card:hover .overlay{
    cursor: pointer;
    height: 15%;
}
